* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.box {
  width: 50%;
  height: 100%;
  position: relative;
  &:first-child {
    border-right: 1px solid green;
  }
  &_panel {
    width: 30%;
    margin: 0 auto;
  }
}

.droppable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &_box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.view {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  &_item{
    width: 100px;
    height: 100px;
    background: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.panel {
  width: 100%;
  background: gray;
  height: 60px;
  display: flex;
  &_item {
    width: 33%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &_active {
      background: green;
    }
  }
}

.divider {
  margin: 20px 0;
}